@model List<ApplicationCore.Models.DonationHistoryListModel>

<div class="mb-3">
  <h3>Donation Records</h3>
</div>

<table class="table table-bordered table-striped">
<thead class="table-dark">
  <tr>
      <th>Donation Date</th>
      <th>Location</th>
      <th>Collected Volume</th>
      <th>Staff Name</th>

  </tr>
  </thead>
  <tbody>
    @foreach (var m in Model)
    {
        <tr>
        <td>@m.DonationDate.ToString("MM/dd/yyyy")</td>
        <td>@m.Location</td>
        <td>@m.CollectedVolume cc</td>
        <td>@m.StaffName</td>
        </tr>
    }
  </tbody>
</table>